@import "reset"
@import "helpers/grid"
@import "helpers/colors"

body
  margin: 0
  padding: 0
  overflow: hidden

.container
  max-width: 1200px
  width: 100%
  text-align: center
  margin: auto

.navbar__menu
  display: flex
  justify-content: center
  margin-top: 10px

  .menu-btn
    display: block
    width: 50px
    height: 50px
    border-radius: 50%
    position: relative
    z-index: 16
    left: 0

    span, span:before, span:after
      position: absolute
      top: 50%
      margin-top: -1px
      left: 50%
      margin-left: -10px
      width: 20px
      height: 2px
      background: #505050

    span:before, span:after
      content: ''
      display: block
      transition: 0.5s

    span:before
      transform: translateY(-5px)
    span:after
      transform: translateY(5px)

  .menu-btn_active span
    height: 0
  .menu-btn_active span:before
    transform: rotate(45deg)
  .menu-btn_active span:after
    transform: rotate(-45deg)

  .menu-block
    position: relative
    display: flex
    justify-content: center
    align-items: center

.menu-nav
  transition: 0.2s
  transform: scaleX(0) translateX(0%)
  transform-origin: left center
  opacity: 0
  visibility: hidden
  line-height: 50px
  background-color: #ffffff
  padding-right: 25px
  padding-left: 25px
  margin-right: -25px
  display: flex
  flex-direction: column
  height: auto
  width: 180px
  position: absolute
  right: 30px
  top: 0
  &__link
    display: inline-block
    text-decoration: none
    color: #222222
    margin: 0 10px
    font-weight: 100
    text-transform: uppercase
    transition: 1s
    &:hover
      text-decoration: none

  &_active
    transform: scaleX(1) translateX(0%)
    opacity: 1
    visibility: visible
    background: $light-grey
    z-index: 15



.navbar
  display: flex
  margin-bottom: 70px
  &__logo
    color: #000000
    text-transform: uppercase
    font-size: 15px
    letter-spacing: 1px
    text-align: center
    span
      font-size: 28px
      text-transform: uppercase
    &:hover
      text-decoration: none
      color: #000000
  &__svg
    display: flex
    align-items: center
    justify-content: space-between
    min-width: 150px
  &__button
    border: transparent
    background: transparent
    outline: none
    &:active,
    &:focus
      outline: none


.car-card
  background: url("../img/top-car-bg-1.png") no-repeat
  background-size: cover
  color: #202020
  &__text
    width: max-content
    margin: 0 10% 0 auto
  &__title
    font-size: 114px
    text-transform: uppercase
    font-weight: 600
    padding-top: 20px
  &__name
    font-size: 15px
    text-transform: uppercase
  &__links
    display: flex
  &__soc-item
    display: block
    width: 30px
    height: 30px
    border-radius: 50%
    border: 1px solid #171717
    text-align: center
    margin: 40px 10px
    &:hover
      background: #171717
      path
        fill: #ffffff
  &__desc
    color: #535353
    font-size: 14px
    max-width: 280px
    padding-bottom: 30px
.button-buy
  font-size: 8px
  text-transform: uppercase
  border-radius: 30px 30px
  border: 1px solid transparent
  background: #171717
  color: #ffffff
  padding: 15px 25px
  margin-bottom: 40px
  &:hover
    background: rgba(transparent, 0.5)

.timer-discount
  display: flex
  margin: 0 0 70px auto
  max-width: fit-content
  z-index: 100
  &__img
    height: 100%
    max-width: unset
  &__text
    background: url("../img/special-offer-bg.png") no-repeat
    display: flex
    flex-wrap: wrap
    padding: 50px 40px 0 40px
    flex-direction: column
  &__title
    font-weight: bold
    color: #ffffff
    font-size: 37px
    text-transform: uppercase
  &__name
    color: #ffffff
    font-size: 21px
  &__price
    color: #ffffff
    font-size: 38px
    font-weight: 600
    span
      font-size: 21px
      text-decoration: line-through
  &__btn
    max-width: 130px
    margin-bottom: 20px
    background: #f3ebdc
    color: #121212
    transition: 0.3s
    &:hover
      color: #f3ebdc
      transform: scale(1.05)
  &__meter
    display: flex
    justify-content: space-between
  &__time
    color: #31373b
    font-size: 11px
    text-transform: uppercase
    display: block
    background: #ffffff
    text-align: center
    padding: 10px 15px 15px 15px
    border-radius: 15px
    span
      color: #2d2b27
      font-size: 38px
      font-weight: 600


@media screen and (max-width: 1860px)
  .car-card
    &__title
      font-size: 40px
    .timer-discount
      margin: 150px 0 70px auto
@media screen and (max-width: 1380px)
  .navbar
    margin-bottom: 40px
  .car-card
    &__title
      font-size: 50px
    &__text
      margin: 0 5% 0 auto
@media screen and (max-width: 1340px)
  .car-card
    max-height: 800px
    &__soc-item
      margin: 20px 10px
  .timer-discount
    transform: scale(0.5)
    position: relative
    top: -270px
    right: -7%
@media screen and (max-width: 1024px)
  .car-card
    max-height: 700px
    &__title
      font-size: 30px
@media screen and (max-width: 924px)
  .car-card
    background-size: cover
    max-height: 400px
  .timer-discount
    top: -300px
    transform: scale(0.38) translate(430px, -330px)
    transition: 0.3s
    &:hover
      transform: scale(0.5) translateX(-100px)

@media screen and (max-width: 645px)
  .car-card
    max-height: 900px
    &__title
      font-size: 25px
    &__name
      font-size: 14px
    &__desc
      font-size: 12px
    &__text
      margin: 0 5px 0 auto
      padding-left: 10%
      background: rgba(#cacdd2, 0.7)
      width: 100%
  .button-buy
    padding: 10px 20px
  .timer-discount
    position: static
    transform: none
    margin: 0 auto!important
    &__img
      width: 80%
    &__text
      padding: 40px 20px 5px
      width: 120%
    &__title
      font-size: 28px
    &__name
      font-size: 18px
    &__time
      padding: 10px 10px 15px 10px
      margin-left: 1px
      margin-right: 1px
      span
        font-size: 27px
    &:hover
      transform: none
@media screen and (max-width: 540px)
  .menu-items
    display: none
  .timer-discount
    &__title
      font-size: 25px
    &__time
      text-transform: capitalize
      padding: 5px 5px 8px 5px
      span
        font-size: 22px
    &__price
      font-size: 28px
  .button-buy
    padding: 10px 5px
    text-transform: capitalize
@media screen and (max-width: 385px)
  .timer-discount
    height: 266px
    &__img
      width: 70%
      text-align: center
      background: #ffffff
      img
        object-fit: cover
        height: 100%
    &__time
      transform: scale(0.8)
    &__text
      width: 130%
      padding-top: 10px
    &__title
      font-size: 18px
    &__price
      font-size: 23px
    &__btn
      margin-bottom: 8px
      padding: 5px 5px
      margin-left: 15px
    &__meter
      display: -webkit-box






.displ-row
  display: flex
  justify-content: space-between



.menu-categories
  width: 100%
  max-width: 1200px
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  margin: 60px auto
  &__link
    font-size: 19px
    letter-spacing: 1px
    color: #2d2b27
    font-weight: 600
    padding: 0 10px

.banners
  margin: 0 auto
  max-width: 1100px
  display: grid
  grid-gap: 10px
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
  margin-bottom: 70px
  &__btn
    margin-top: 40px
    margin-left: 20px
  &__text
    font-size: 22px
    font-weight: 600
    text-align: left
    padding-left: 20px
  &__desc
    font-size: 13px
    margin-bottom: 17px
    padding-left: 20px
  &__item
    min-width: 200px
    min-height: 250px
    display: flex
    flex-direction: column
    text-shadow: 0 0 2px #ffffff
    &_item-1
      background: url('../img/banners-item-1.png') no-repeat #f8f8f8
      grid-row: 1/2
      grid-column: 1/2
      justify-content: flex-end
      height: 130%
      background-position-x: center
    &_item-2
      background: url('../img/banners-item-2.png') no-repeat
      grid-row: 1/3
      grid-column: 2/4
      justify-self: stretch
      background-size: cover
      align-items: flex-start
      justify-content: center
      position: relative
    &_item-3
      background: url('../img/banners-item-3.png') no-repeat
      grid-row: 1/2
      align-items: flex-start
      justify-content: center
    &_item-4
      background: url('../img/banners-item-4.png') no-repeat
      grid-column: 1/2
      background-position: bottom
    &_item-5
      background: url('../img/banners-item-5.png') no-repeat
      text-transform: uppercase
      justify-content: flex-end
      position: relative
    &_item-6
      background: url('../img/banners-item-6.png') no-repeat
      grid-column: 1/5
      justify-content: center
      background-size: cover
      .banners__text
        margin-left: 0!important
        text-align: center
        letter-spacing: 2px
        margin-bottom: 15px
      .banners__desc
        text-align: center
        margin-bottom: 30px
        letter-spacing: 5px
      .banners__btn
        margin: 0 auto
  &__icon
    background: #1a1a1a
    text-shadow: none
    color: #ffffff
    position: absolute
    width: 50px
    height: 30px
    text-align: center
    top: 10px
    right: 10px
    &:before
      content: ''
      position: absolute
      width: 0
      height: 0
      left: 0
      top: 30px
      border: 5px solid
      border-color: #1a1a1a transparent transparent #1a1a1a


@media screen and (max-width: 855px)
  .banners__item
    &_item-2
      grid-row: 1/2
      grid-column: 2/3
    &_item-1
      height: 100%
      justify-content: flex-start
    &_item-4
      display: none
    &_item-6
      grid-column: 2/4
      .banners__text
        margin-left: 0
      .banners__desc
        margin-left: 0
@media screen and (max-width: 768px)
  .banners
    &__btn
      text-transform: capitalize
      padding: 10px 15px
      &_item-3
        background-position: center

@media screen and (max-width: 662px)
  .banners
    display: flex
    flex-wrap: wrap
    &__item
      margin: 5px
      width: 45%
      &_item-4
        display: block
        background-size: cover
    &__text
      font-size: 18px
@media screen and (max-width: 425px)
  .banners
    &__item
      width: 100%


.section-title
  text-align: center
  font-size: 26px
  font-weight: 600
  text-transform: uppercase
  color: #2d2b27
  margin-bottom: 20px
.section-desc
  font-size: 14px
  color: #1a1a1a
  text-align: center
  margin-bottom: 40px


.product-types
  &__carousel
    width: 90%
    margin: 0 auto 70px auto
    position: relative
  &__card
    margin: 0 10px
    max-height: 480px
    outline: none
    position: relative
    width: 100%
    img
      width: 100%
    button
      position: absolute
      min-width: 120px
      width: 50%
      bottom: 10px
      left: 25%
      margin: 0
      padding: 15px 10px

.slick-arrow
  background: #d7d7d7
  border: transparent
  transform: rotate(270deg)
  transform-origin: left top 0
  width: 112px
  font-size: 14px
  text-transform: uppercase
  &:hover
    background: #afafaf
    outline: none
  &:active
    outline: none

.slick-prev
  position: absolute
  left: -25px
  top: 60%
  z-index: 10

.slick-next
  position: absolute
  right: -110px
  top: 60%
  z-index: 10

@media screen and (max-width: 855px)
  .slick-arrow
    width: 80px
  .slick-next
    right: -80px
@media screen and (max-width: 662px)
  .slick-arrow
    font-size: 12px
  .slick-next
    right: -75px
  .slick-prev
    left: -20px












//
  //
  //&__social-wrap
  //  display: flex
  //  width: 130px
  //  justify-content: space-between
  //  z-index: 2
  //  svg
  //    transition: 0.3s
  //    &:hover
  //      transform: scale(1.4)
  //  a
  //    width: 25px
  //    height: 25px

